@model CinemaApp.Models.MovieModel

@{
    ViewData["Title"] = "Movie Details";
}

<div class="row">
    <div class="col-md-4">
        <img class = "poster_big" src="~/Media/Posters/@Model.ImageUrl" class="img-fluid" alt="@Model.Title" />
    </div>
    <div class="col-md-8">
        <h1>@Model.Title</h1>
        <p><strong>Opis: </strong>@Model.Description</p>
        <p><strong>Reżyser: </strong>@Model.Director</p>
        <p><strong>Kategoria: </strong>@Model.Category</p>
        <p><strong>Kategoria wiekowa: </strong>@Model.AgeCategory</p>
        <p><strong>Długość: </strong>@Model.LengthInMin minutes</p>
        <p><strong>Premiera: </strong>@Model.PremiereDate.ToShortDateString()</p>
        <p><strong>Ocena: </strong>@Model.Rating</p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h2>Aktorzy</h2>
        <ul>
            @if(Model.Actors!= null)
            {
                 @foreach (var actor in Model.Actors)
                 {
                     <li>@actor.FirstName @actor.LastName</li>
                 }
            }
           
        </ul>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h2>Harmonogramy</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Room</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Schedules != null)
                {
                     @foreach (var schedule in Model.Schedules)
                     {
                            <tr>
                                <td>@schedule.Date.ToShortDateString()</td>
                                <td>@schedule.Date.ToString("hh:mm tt")</td>
                                <td>@schedule.Hall.HallName</td>
                                <td><a href="@Url.Action("Index", "Ticket", new { id = schedule.ID })">Rezerwuj</a></td>
                            </tr>
                      
                     }
                }
               
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h2>Recenzje</h2>
        <ul>
            @if (Model.Reviews != null)
            {
                  @foreach (var review in Model.Reviews)
                  {
                    <li>
                        <p><strong>Author: </strong>@review.Author</p>
                        <p><strong>Rating: </strong>@review.Rating</p>
                        <p><strong>Comment: </strong>@review.Text</p>
                    </li>
                  }
            }
          
        </ul>
    </div>
</div>
