@model List<ScheduleModel>

@{
}
  <div class="container my-4">
      <h1 class="text-center">Repertuar</h1>
    </div>

    <section>
     <div class="container">
      <div class="row">

            @foreach(var schedule in Model)
            {
             <div class="col-md-4">
              <div class="card mb-4 shadow-sm">

                <a href="@Url.Action("MovieDetail", new { id = schedule.MovieID })"><img src="@schedule.Movie.ImageUrl" alt="Plakat filmu" /></a>

                <div class="card-body">

                  <h5 class="card-title">Tytuł @schedule.Movie.Title</h5>
                  <p class="card-text">Kategoria: @schedule.Movie.Category</p>
                  <p class="card-text">Kategoria wiekowa: @schedule.Movie.AgeCategory</p>
                  <p class="card-text">Długość: @schedule.Movie.LengthInMin</p>
                  <p class="card-text">Data premiery: @schedule.Date</p>
                  <p class="card-text">Data premiery: @schedule.Hall.HallName</p>
                  <p class="card-text">Data premiery: @schedule.AvaiblePlacesCount</p>

                            <a href="@Url.Action("PurchaseTicket", new { ticketId = schedule.ID })" role="button" class="btn btn-primary">Kup bilety</a>
                  
                </div>
              </div>
             </div>
            }
        

      </div>
     </div>
    </section>