@model TicketIndexViewModel
@{
}
<script>
    let id=@Model.Schedule.ID;
</script>
<h1>@Model.Schedule.Movie.Title</h1>
<h2>@Model.Schedule.Hall.HallName</h2>
<h3>@Model.Schedule.Date</h3>

<br />
<hr />
<br />

<h5>Lista biletów </h5>
<ul id="TicketList"></ul>

<section>

    <center>
        <h3>Ekran</h3>
        <div style="width:80%;height:30px;background-color:grey;"></div>
    </center>

    <div class="seats_container">

        @for (int r = 0; r <= 10; r++)
        {
            <div class="seats_Row">
                   <span>Rząd:@r</span>

                @{
                    var display = "";
                    var avaible = "avaibleSit";
                 }

                   @for (int p = 0; p <= 10; p++)
                    {

                    display = "";
                    avaible = "avaibleSit";

                    if (Model.Reservations.Any(res => res.Row == r && res.Place == p)) { display = "disabled"; avaible = ""; }

                        <div id="r:@r,p:@p"  class= @avaible>
                             <button @display onclick='selectSit("@r","@p")'>@p</button>
                        </div>
                    }
            </div>
 
        }
    </div>
 
</section>

<button id="purscheButton" disabled onclick="pursche()">Zakup</button>

