@model TicketInfoViewModel
@{
}
    <h1 class="text-center">Informacje o zakupie</h1>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rząd</th>
                        <th>Miejsce</th>
                        <th>Cena</th>

                    </tr>
                </thead>
                <tbody>
                @foreach (var ticket in Model.Tickets)
                {
                            <tr>
                                <td>@ticket.Row</td>
                                <td>@ticket.Place</td>
                                <td>@ticket.Price</td>

                            </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>Film</th>
                        <th>Sala</th>
                        <th>Data</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>@Model.Schedule.Movie.Title</td>
                        <td>@Model.Schedule.Hall.HallName</td>
                        <td>@Model.Schedule.Date</td>

                    </tr>
                </tbody>
            </table>
        </div>
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Telefon</th>


                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>@Model.Customer.FirstName</td>
                    <td>@Model.Customer.LastName</td>
                    <td>@Model.Customer.Email</td>
                    <td>@Model.Customer.Phone</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

@using (Html.BeginForm("Pay", "Ticket", FormMethod.Post))
{
    <input type="hidden" name="Schedule.ID" value="@Model.Schedule.ID" />

    <input type="hidden" name="Customer.FirstName" value="@Model.Customer.FirstName" />
    <input type="hidden" name="Customer.lastName" value="@Model.Customer.LastName" />
    <input type="hidden" name="Customer.Email" value="@Model.Customer.Email" />
    <input type="hidden" name="Customer.Phone" value="@Model.Customer.Phone" />


    @foreach (var ticket in Model.Tickets)
    {
        <input type="hidden" name="Tickets[@Model.Tickets.IndexOf(ticket)].Row" value="@ticket.Row" />
        <input type="hidden" name="Tickets[@Model.Tickets.IndexOf(ticket)].Place" value="@ticket.Place" />
        <input type="hidden" name="Tickets[@Model.Tickets.IndexOf(ticket)].Price" value="@ticket.Price" />

    }

    <!-- Add payment gateway here-->
    <input type="submit" value="Zapłać" />
}
