@model TicketInfoViewModel

@{
    ViewData["Title"] = "Informacja o biletach";
}

<div class="container">
    <h1 class="text-center">Informacja o wybranych biletach</h1>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rząd</th>
                        <th>Miejsce</th>
                        <th>Cena</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model.Tickets)
                    {
                        <tr>
                            <td>@ticket.Row</td>
                            <td>@ticket.Place</td>
                            <td>@ticket.Price</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>Film</th>
                        <th>Sala</th>
                        <th>Data</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>@Model.Schedule.Movie.Title</td>
                        <td>@Model.Schedule.Hall.HallName</td>
                        <td>@Model.Schedule.Date</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <form asp-action="CustomerData" method="post">
        <input type="submit" value="Zapłać" class="btn btn-primary" />
        @foreach (var ticket in Model.Tickets)
        {
            <input type="hidden" name="Tickets[@Model.Tickets.IndexOf(ticket)].Row" value="@ticket.Row" />
            <input type="hidden" name="Tickets[@Model.Tickets.IndexOf(ticket)].Place" value="@ticket.Place" />
            <input type="hidden" name="Tickets[@Model.Tickets.IndexOf(ticket)].Price" value="@ticket.Price" />

        }
        <input type="hidden" name="Schedule.ID" value="@Model.Schedule.ID" />
       
    </form>
</div>
