@model HallViewModel

@{
}
<center><h1>Sale</h1></center>


 @using (Html.BeginForm("HallView", "Admin", FormMethod.Post))
    {
        @Html.TextBoxFor(x=>x.SearchString, new {placeholder = "Znajdź..."})

        <button type="submit">Szukaj</button>
    }

<div class="card">
    <div class="card-header">Sale: @Model.Halls.Count</div>
    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Liczba Miejsc</th>
                    <th>Liczba zaplanowanych seansów</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var hall in Model.Halls)
                    {
                        <tr>
                            <td>@hall.HallName</td>
                            <td>@hall.Places</td>
                            <td>@hall.Schedules.Count</td>
                            <td>
                                <a class="link" asp-action="UpdateHall" asp-route-id="@hall.ID">Edytuj</a>
                                <a class="link" asp-action="DeleteHall" asp-route-id="@hall.ID" onclick="return confirm('Czy na pewno chcesz usunąć sale?')">Usuń</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
