
@{
}

<div class="link-container">
        <a href="@Url.Action("MoviesView","Admin")">Filmy</a>
</div>

<div class="link-container">
    <a href="@Url.Action("HallView","Admin")">Sale</a>
</div>

<div class="link-container">
    <a href="@Url.Action("ActorsView","Admin")">Aktorzy</a>
</div>

<div class="link-container">
    <a href="@Url.Action("ReservationsView","Admin")">Rezerwacje</a>
</div>

<div class="link-container">
    <a href="@Url.Action("SchedulesView","Admin")">Seanse</a>
</div>

<div class="link-container">
    <a href="@Url.Action("AddMovie","Admin")">Dodaj Film</a>
</div>

<div class="link-container">
    <a href="@Url.Action("AddHall","Admin")">Dodaj Salę</a>
</div>
<div class="link-container">
    <a href="@Url.Action("AddActor","Admin")">Dodaj Aktora</a>
</div>

<div class="link-container">
    <a href="@Url.Action("AddSchedule","Admin")">Dodaj Seans</a>
</div>



  