@model ReservationModel

@{

}

<center><h1>Rezerwacje</h1></center>

<div class="card">
    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th>Film</th>
                    <th>Sala</th>
                    <th>Data seansu</th>
                    <th>Data rezerwacji</th>
                    <th>Imie i Nazwisko</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                  
                      <tr>
                        <td>@Model.Seance.Movie.Title</td>
                        <td>@Model.Seance.Hall.HallName</td>
                        <td>@Model.Seance.Date</td>
                        <td>@Model.ReservationDate</td>
                        <td>@Model.FirstName  @Model.LastName</td>
                        <td>@Model.Email</td>
                        <td>@Model.Phone</td>
                        <td>
                            <a class="link" asp-action="UpdateReservation" asp-route-id="@Model.ID">Edytuj</a>
                            <a class="link" asp-action="DeleteReservation" asp-route-id="@Model.ID" onclick="return confirm('Czy na pewno chcesz usunąć rezerwacje?')">Usuń</a>
                        </td>
                      </tr>
                    
                }

            </tbody>
        </table>
    </div>
</div>
