@model ReservationsViewModel

@{
}

<center><h1>Rezerwacje</h1></center>

@using (Html.BeginForm("ReservationsView", "Admin", FormMethod.Post))
{
    @Html.TextBoxFor(x=>x.SearchString, new {placeholder = "Znajdź..."})

    <button type="submit">Szukaj</button>
}

<div class="card">
    <div class="card-header">Rezerwacje: @Model.Reservations.Count</div>
    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th>Film</th>
                    <th>Sala</th>
                    <th>Data seansu</th>
                    <th>Data rezerwacji</th>
                    <th>Imie i Nazwisko</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Reservations != null)
                {
                    @foreach (var reservation in Model.Reservations)
                    {
                        <tr>               
                            <td>@reservation.Seance.Movie.Title</td>
                            <td>@reservation.Seance.Hall.HallName</td>
                            <td>@reservation.Seance.Date</td>
                            <td>@reservation.ReservationDate</td>
                            <td>@reservation.FirstName  @reservation.LastName</td>
                            <td>@reservation.Email</td>
                            <td>@reservation.Phone</td>
                            <td>
                                <a class="link" asp-action="ReservationDetail" asp-route-id="@reservation.ID">Szczegóły</a>
                                <a class="link" asp-action="UpdateReservation" asp-route-id="@reservation.ID">Edytuj</a>
                                <a class="link" asp-action="DeleteReservation" asp-route-id="@reservation.ID" onclick="return confirm('Czy na pewno chcesz usunąć rezerwacje?')">Usuń</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
