@model CinemaApp.Models.HallModel

<h1>Aktualizuj Salę</h1>

<h2>@Model.HallName</h2>

@using (Html.BeginForm("AddHall", "Admin", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(x => x.HallName)
        @Html.TextBoxFor(x => x.HallName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.HallName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Places)
        @Html.TextBoxFor(x => x.Places, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Places, "", new { @class = "text-danger", @type = "number" })
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Aktualizuj salę</button>
}